startup_commands toggle_custom_color

should_launch_new_window 1

move_screen_ratio 1
ui_background_color #323232
page_separator_color #1d2021
page_separator_width 10
custom_background_color #272727
custom_text_color #ebdbb2
search_highlight_color #7ec16e
status_bar_color #427b58
status_bar_text_color #fbf1c7

